* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #209cff 100%, #68e0cf 200%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    border: 0;
    outline: 0;
  }
  
  .container {
    margin: 40px 0;
    width: 400px;
    height: 600px;
    padding: 10px 25px;
    background: #0a0e31;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .container h2.title{
    font-size: 1.75rem;
    margin: 10px -5px;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .result {
    position: relative;
    width: 100%;
    height: 65px;
    overflow: hidden;
  }
  .result__info {
    position: absolute;
    bottom: 4px;
    color: #fff;
    font-size: 0.8rem;
    transition: all 150ms ease-in-out;
    transform: translateY(200%);
    /* opacity: 0; */
  }
  .result__info.right {
    right: 8px;
  }
  .result__info.left {
    left: 8px;
  }
  .result__viewbox {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    line-height: 65px;
  }
  .result #copy-btn {
    position: absolute;
    top: var(--y);
    left: var(--x);
    width: 38px;
    height: 38px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    z-index: 2;
  }
  .result #copy-btn:active {
    box-shadow: 0 0 0 200px rgba(255, 255, 255, 0.08);
  }
  .result:hover #copy-btn {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.35);
  }
  
  .field-title {
    position: absolute;
    top: -10px;
    left: 8px;
    transform: translateY(-50%);
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 0.65rem;
    pointer-events: none;
    user-select: none;
  }
  
  .options {
    width: 100%;
    height: auto;
    margin: 50px 0;
  }
  
  
  .idType {
      color: #fff;
      font-weight: 300;
      font-size: 1.5em;
      text-align: center;
  }

  .btn.generate {
    user-select: none;
    position: relative;
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border-radius: 8px;
    color: #fff;
    border: none;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 150ms ease;
  }
  .btn.generate:active {
    transform: translateY(-3%);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
  }
  
  
  a {
    margin: 0 20px;
    color: #fff;
    font-size: 2rem;
    transition: all 400ms ease;
  }
  
  a:hover {
    color: #222;
  }
  

  
  @keyframes octocat-wave {
    0%, 100% {
      transform: rotate(0);
    }
    20%, 60% {
      transform: rotate(-20deg);
    }
    40%, 80% {
      transform: rotate(10deg);
    }
  }
  